</head>
<body>
    <nav>
        <ul>
            <li class="<%= url==='/' ? 'active' : '' %>"><a href="/">Home</a></li>
            <li class="<%= url==='/users' ? 'active' : '' %>"><a href="/users">Users</a></li>
        </ul>
    </nav>